*{
  font-family: 'Julius Sans One', sans-serif;
}

body {
	background: url('https://i.imgur.com/bZOojWV.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	background-color:rgb(63, 63, 63);
    backdrop-filter: blur(5px);
}



/* SCROLLBAR */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border: 7px solid;
    box-shadow: inset 0 0 2.5px 2px rgb(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, rgb(248, 142, 55), rgb(43, 42, 42));

}

/*  */


/* NAVBAR */
#nav-img{width: 6%;}

@media only screen and (max-width:600px) {
    #nav-img{width: 15%;}
}

#instagram_link{width: 20%;}
@media only screen and (max-width:600px) {
  #instagram_link{width:10%;}
}

@media only screen and (max-width:600px) {
  .jumbotron h1{font-size: 4rem;}
}

#img_logo{width: 10%; border-radius: 4px;}
@media only screen and (max-width:600px) {
  #img_logo{width: 25%;
  margin-bottom: 10px;
  }
}

.jumbotron{margin-bottom: 100px;}

.display-1{color: rgb(248, 142, 55);}
.display-2{color: rgb(248, 142, 55) !important;}

@media only screen and (max-width:600px) {
  #about_section h1 {font-size: 3rem;}
}

.lead{color:rgb(252, 134, 38);}

.about_p{color: azure;}

#about_container{margin-top: 225px;}
#about_section{margin-bottom: 50px;
                background-color: rgb(63, 63, 63);
                padding: 2rem 1rem 2rem 1rem;
                border-radius: 3px;
}

span{color: rgb(248, 142, 55);}

#p{font-weight: bold;}

#name{color:rgb(252, 134, 38);
        text-decoration: underline;
        text-decoration-color: rgb(41, 190, 190);
}

.four_keys{color:rgb(252, 134, 38) ;
        text-decoration: underline !important;
        text-decoration-color: rgb(41, 190, 190) !important;
        font-weight: bold;
}

#about_section .motto{color:rgb(41, 190, 190);}
@media only screen and (max-width:600px) {
  #about_section .motto{
    font-size: 18px;
  }
}

hr{background-color: rgb(252, 134, 38);}
#about_section h4{margin-top: 30px;}

h6{margin-top: 50px;
  padding-bottom: 0px;
}

#about_section .verse{color: rgb(167, 201, 201);}
@media only screen and (max-width:600px){
  #about_section .verse{
    font-size: 12px;
  }
}

